gb_oop_basics.sln
.vs
.git
gb_oop_basics
.editorconfig
README.md
.editorconfig
Lesson_3_Task_1/Lesson_3_Task_1.csproj
Lesson_3_Task_1/bin
Lesson_3_Task_1/obj
Lesson_3_Task_1/Properties
Lesson_3_Task_1/App.config

Lesson_3_Task_2/Lesson_3_Task_2.csproj
Lesson_3_Task_2/bin
Lesson_3_Task_2/obj
Lesson_3_Task_2/Properties
Lesson_3_Task_2/App.config

Lesson_3_Task_3/Lesson_3_Task_3.csproj
Lesson_3_Task_3/bin/Debug/Lesson_3_Task_3.exe
Lesson_3_Task_3/bin/Debug/Lesson_3_Task_3.exe.config
Lesson_3_Task_3/bin/Debug/Lesson_3_Task_3.pdb
Lesson_3_Task_3/obj
Lesson_3_Task_3/Properties
Lesson_3_Task_3/App.config

Lesson_4_Task_1/Lesson_4_Task_1.csproj
Lesson_4_Task_1/bin/
Lesson_4_Task_1/obj
Lesson_4_Task_1/Properties
Lesson_4_Task_1/App.config

Lesson_4_Task_2/Lesson_4_Task_2.csproj
Lesson_4_Task_2/bin/
Lesson_4_Task_2/obj
Lesson_4_Task_2/Properties
Lesson_4_Task_2/App.config

Lesson_4_Task_3/Lesson_4_Task_3.csproj
Lesson_4_Task_3/bin/
Lesson_4_Task_3/obj
Lesson_4_Task_3/Properties
Lesson_4_Task_3/App.config

MyLibrary/bin
MyLibrary/obj
MyLibrary/MyLibrary.csproj

Lesson_5_Task_1/Lesson_5_Task_1.csproj
Lesson_5_Task_1/bin/
Lesson_5_Task_1/obj
Lesson_5_Task_1/Properties
Lesson_5_Task_1/App.config


