gb_oop_basics.sln
.vs
.git
gb_oop_basics/bin
gb_oop_basics/obj
gb_oop_basics/Lesson_2_Task_1.csproj
Task_2/bin
Task_2/obj
Task_2/Lesson_2_Task_2.csproj
Task_3/bin
Task_3/obj
Task_3/Lesson_2_Task_3.csproj
Task_4/bin
Task_4/obj
Task_4/Lesson_2_Task_4.csproj
Lesson_5_Task_5/bin
Lesson_5_Task_5/obj
Lesson_5_Task_5/Lesson_2_Task_5.csproj
README.md